.logo{
    width: 200px;
}
header{
    display: flex;
    background-color: rgba(137, 43, 226, 0.959);
}
menu{
    display: flex;
}
menu div{
    margin-right: 50px;
}
menu div p a{
    color: white;
    text-decoration: none;
    border-style: groove;
    border-width: thin;
    border-radius: 5px;
}
menu div p a:hover, .active .active{
    color: aqua;
    border-color: aqua;
}
.menu{
    position: relative;
    display: block;
}
.submenu ul a{
    text-align: left;
    display: block;
    width: 200px;
    color: white;
    margin-bottom: 10px;
    text-decoration: none;
}
.submenu ul a:hover{
    color: dodgerblue;
    font-weight: bolder;
}
.submenu{
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}
.menu:hover .submenu{
    display: block;
}
/*landscape only*/
@media only screen and (orientation:portrait){
  body {  
    height: 100vw;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@media only screen and (orientation:landscape){
  body {  
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
  }
}